.card-diff {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
    margin: 0 2rem;
  }
  
  .card-diff:hover {
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; }
  
  .card-diff-img {
    border-radius: 5px 5px 0 0;
    width: 10rem;
    height: 10rem;
  }
  