.secondContainer{
    /* border: 2px solid ; */
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;
}
    .smallContainer{
        /* border: 2px solid ; */
    height: 25rem;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5rem;
}


@media (min-width:768px) and (max-width: 1024px) {
 .secondContainer{
    width: 100rem;
 }
}